body{
      background: linear-gradient(135deg, #141e30, #243b55);
}
.active{
      background: linear-gradient(135deg, #080b16, #5907dd);
}

#offcanvasMenu{
      background: linear-gradient(135deg, #141e30, #243b55);
}

.recherche{
    margin-top: 100px;
}

.card-title {
    color: #0d6efd;
    font-weight: 600;
}
.card-text {
    color: #7d6c6d;
}
.card-body {
    background-color: #f8f9fa;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}